<link href="https://fonts.googleapis.com/css?family=Bad+Script|Dancing+Script" rel="stylesheet">
<div class="container-fluid">
  <h5> <em>Description:</em> </h5>
  <div class="row">
    <div class="details">
      <p>
        <strong>Author:</strong> <em>{{quote.author}}</em>
      </p>
      <p>
        <strong>Submitted by:</strong> <em>{{quote.name}}</em>
      </p>
    </div>
    <div class="votes">
      <p>
        <strong>Likes</strong> <em>{{quote.upVotes}}</em>
      </p>
      <p>
        <strong>Dislikes</strong> <em>{{quote.downVotes}}</em>
      </p>
    </div>
  </div>
  <button type="button" class="btn" (click) = quoteUpVote(quote) >Up Vote</button>
  <button type="button" class="btn" (click) = quoteDownVote(quote)>Down Vote</button>
  <button class="btn" (click) = 'quoteDelete(true)'>Delete Quote</button>
</div>
